<%= form_for @product do |f| %>

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Product details</h4>
</div>

<div class="modal-body">
  
   <div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
   </div>
   <div class="field">
  <%= f.label :description %>
  <%= f.text_field :description %>
   </div>
   <div class="field">
  <%= f.label :price %>
  <%= f.text_field :price %>
   </div>
   
  
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <%= submit_tag "Create product", class: " btn btn-primary"%>
</div>
<% end %>
  
